<!DOCTYPE html>
<html>
<head>
  <title>Status</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap-theme.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="/primus/primus.js"></script>
  <script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/libs/oboe/dist/oboe-browser.min.js"></script>
  <script type="text/javascript" src="/libs/dat-gui/dat.gui.min.js"></script>

  <script
    type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=false&key={{key}}">
  </script>
  <script>
    var areas = {{areas|json|safe}};
    var grid = {{grid|json|safe}};
    var areaIndex = {{areaIndex}};
    var subAreaIndex = {{subAreaIndex}};
    var social = '{{social}}';
  </script>
</head>
<body unresolved>

  <div class="container-fluid">
    <div id="map"></div>
  </div>
  <script type="text/javascript" src="/js/status.js"></script>
</body>
</html>